{{set . "title" "news-vote"}}
{{append . "moreStyles" "css/red.css"}}
{{template "header.html" .}}
<div id="container">

  <div id="pic">
    <img src="/public/img/windowed-pic.jpg" width="322px" height="212px" id="wp"/>
  </div>

  <div id="header">
    <p class="linklist">
      <a href="http://www.uestc.edu.cn/" target="_blank">学校主页</a>
      <a href="http://www.new1.uestc.edu.cn/" target="_blank">新闻中心</a>
      <a href="http://www.new1.uestc.edu.cn/channel/index/id/2" target="_blank">关注</a>

    </p>
    <form class="search">
      <table border="0" cellpadding="0" cellspacing="0" class="tab_search">
        <tr>
          <td>
            <input type="text" name="q" title="Search" class="searchinput" id="searchinput" placeholder="校内搜索" size="10"/>
          </td>
          <td>
            <input type="image" width="21" height="15" class="searchaction" alt="Search" src="/public/img/search.gif" border="0" hspace="2"/>
          </td>
        </tr>
      </table>
    </form>

  </div>

  <div id="listcontainer">
    <div id="list">
      <form method="POST">
        {{range .items}}
        {{.Title}}
        <progress value="{{.Num}}" max="{{.Max}}"></progress>
        <span>{{.Num}}({{.Progress}}%)</span>
        <input type="checkbox" name="item" value="{{.Id}}" class="dot"/>
        <br />
        {{end}}
        <button>提交</button>
      </form>

    </div>
  </div>

</div>

<div id="footer">
  <p class="linklist" id="botnavi">
    <a href="http://www.gov.cn/" target="_blank">中国政府网</a>
    <a href="http://www.moe.gov.cn/" target="_blank">教育部</a>
    <a href="http://www.miit.gov.cn/n11293472/index.html" target="_blank">工业和信息化部</a>
    <a href="http://www.scedu.net/" target="_blank">四川省教育厅</a>
    <a href="http://www.univs.cn/" target="_blank">中国大学生在线</a>
  </p>

  <p class="info">
    清水河校区：成都市高新区（西区）西源大道2006号 邮编：611731 电话查号台：028-83201114
    <br />
    沙河校区：成都市建设北路二段四号 邮编：610054 电话查号台：028-83201114
  </p>

  <p class="info">
    <a href="http://www.cnssuestc.org/" target="_blank">Copyright@CNSSUESTC</a>
  </p>
</div>
{{template "footer.html" .}}