{{set . "title" "news-vote"}}
{{append . "moreStyles" "css/blue.css"}}
{{append . "moreStyles" "css/carousel.css"}}
{{append . "moreStyles" "css/common.css"}}
{{append . "moreScripts" "js/slide_pic.js"}}
{{template "header.html" .}}
<div id="container">

  <div id="pic">
    <ul class="slide_list">
      <li>
        <img src="/public/img/%E7%94%B5%E7%A3%81%E8%BE%90%E5%B0%84.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E8%AF%BA%E8%B4%9D%E5%B0%94.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E5%B8%88%E8%B5%84_%E7%BC%A9%E5%B0%8F%E5%A4%A7%E5%B0%8F.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/2013%E5%B9%B49%E6%9C%8819%E6%97%A5%EF%BC%8C%E5%AD%94%E5%AD%90%E5%AD%A6%E9%99%A2%E6%8F%AD%E7%89%8C%E4%BB%AA%E5%BC%8F.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E5%85%9A%E6%A0%A12013%E9%85%8D%E4%B9%90%E8%AF%97%E6%9C%97%E8%AF%B5%E7%85%A7%E7%89%87.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E7%94%B5%E5%AD%90%E7%A7%91%E5%AD%A6%E4%B8%8E%E6%8A%80%E6%9C%AF_%E7%BC%A9%E5%B0%8F%E5%A4%A7%E5%B0%8F.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E6%A0%BC%E6%8B%89%E6%96%AF%E5%93%A5.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E6%9C%BA%E5%99%A8%E4%BA%BA.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E6%95%99%E8%82%B2%E6%95%99%E5%AD%A6.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E6%9D%8E%E8%A8%80%E8%8D%A3.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E7%BE%A4%E4%BC%97%E8%B7%AF%E7%BA%BF.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E5%AD%A6%E7%94%9F%E5%8F%91%E8%AE%BA%E6%96%87.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E5%8C%BB%E5%AD%A6%E9%99%A2.jpg" id="wp" height="212px" width="322px">
      </li>
    </ul>
  </div>

  <div id="header">
    <p class="linklist">
      <a href="http://www.uestc.edu.cn/" target="_blank">学校主页</a>
      <a href="http://www.new1.uestc.edu.cn/" target="_blank">新闻中心</a>
      <a href="http://www.new1.uestc.edu.cn/channel/index/id/2" target="_blank">关注</a>

    </p>
    <form action="http://www.new1.uestc.edu.cn/search/index" method="get" target="_blank" class="search">
      <table class="tab_search" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td>
            <input name="search" title="Search" class="searchinput" id="searchinput" placeholder="校内搜索" size="10" type="text">
          </td>
          <td>
            <input class="searchaction" alt="Search" src="/public/img/search.gif" border="0" height="15" hspace="2" type="image" width="21">
          </td>
        </tr>
      </tbody></table>
    </form>

  </div>

  <div id="listcontainer">
    <div id="list">
      <form method="POST">
        {{range .items}}
        <div class="item-title">{{.Title}}</div>
        <div class="item-progress">
          <progress value="{{.Num}}" max="{{.Max}}">
          <ie style="width:{{.Progress}}%;"></ie>
          </progress>
          <span>{{.Num}}({{.Progress}}%)</span>
          <input name="item" value="{{.Id}}" class="dot" type="checkbox">
          <br>
        </div>
        <div class="clearfix"></div>
        {{end}}
        <button> </button>
      </form>

    </div>
  </div>
</div>

<div id="footer">
  <p class="linklist" id="botnavi">
    <a href="http://www.gov.cn/" target="_blank">中国政府网</a>
    <a href="http://www.moe.gov.cn/" target="_blank">教育部</a>
    <a href="http://www.miit.gov.cn/n11293472/index.html" target="_blank">工业和信息化部</a>
    <a href="http://www.scedu.net/" target="_blank">四川省教育厅</a>
    <a href="http://www.univs.cn/" target="_blank">中国大学生在线</a>
  </p>

  <p class="info">
    清水河校区：成都市高新区（西区）西源大道2006号 邮编：611731 电话查号台：028-83201114
    <br />
    沙河校区：成都市建设北路二段四号 邮编：610054 电话查号台：028-83201114
  </p>

  <p class="info">
    <a href="http://www.cnssuestc.org/" target="_blank">Copyright@CNSSUESTC</a>
  </p>
</div>
{{template "footer.html" .}}
