{{set . "title" "people-vote"}}
{{append . "moreStyles" "css/red.css"}}
{{append . "moreStyles" "css/carousel.css"}}
{{append . "moreStyles" "css/common.css"}}
{{append . "moreScripts" "js/slide_pic.js"}}
{{template "header.html" .}}

<div id="container">

  <div id="pic">
    <ul class="slide_list">
      <li>
        <img src="/public/img/iGEM002_jpg.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/igma.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/zhangbo_%E7%BC%A9%E5%B0%8F%E5%A4%A7%E5%B0%8F.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E6%9C%BA%E5%99%A8%E4%BA%BA.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E8%92%8B%E4%BA%9A%E4%B8%9C_%E7%BC%A9%E5%B0%8F%E5%A4%A7%E5%B0%8F.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E5%88%98%E6%B0%B8.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E9%A5%B6%E4%BA%91%E6%B1%9F_%E7%BC%A9%E5%B0%8F%E5%A4%A7%E5%B0%8F.jpg" id="wp" height="212px" width="322px">
      </li>
      <li>
        <img src="/public/img/%E5%91%A8%E6%98%8E%E7%8F%8D.jpg" id="wp" height="212px" width="322px">
      </li>
    </ul>
  </div>

  <div id="header">
    <p class="linklist">
      <a href="http://www.uestc.edu.cn/" target="_blank">学校主页</a>
      <a href="http://www.new1.uestc.edu.cn/" target="_blank">新闻中心</a>
      <a href="http://www.new1.uestc.edu.cn/channel/index/id/2" target="_blank">关注</a>

    </p>
    <form action="http://www.new1.uestc.edu.cn/search/index" method="get" target="_blank" class="search">
      <table class="tab_search" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td>
            <input name="q" title="Search" class="searchinput" id="searchinput" placeholder="校内搜索" size="10" type="text">
          </td>
          <td>
            <input class="searchaction" alt="Search" src="/public/img/search.gif" border="0" height="15" hspace="2" type="image" width="21">
          </td>
        </tr>
      </tbody></table>
    </form>

  </div>

  <div id="listcontainer">
    <div id="list">
      <form method="post">
        {{range .items}}
        <div class="item-title">{{.Title}}</div>
        <div class="item-progress">
          <progress value="{{.Num}}" max="{{.Max}}">
<ie width="{{.Progress}}"></ie>
		</progress>
          <span>{{.Num}}({{.Progress}}%)</span>
          <input name="item" value="{{.Id}}" class="dot" type="checkbox">
          <br>
        </div>

        <div class="clearfix"></div>
        {{end}}
        <button> </button>
      </form>

    </div>
  </div>
</div>

<div id="footer">
  <p class="linklist" id="botnavi">
    <a href="http://www.gov.cn/" target="_blank">中国政府网</a>
    <a href="http://www.moe.gov.cn/" target="_blank">教育部</a>
    <a href="http://www.miit.gov.cn/n11293472/index.html" target="_blank">工业和信息化部</a>
    <a href="http://www.scedu.net/" target="_blank">四川省教育厅</a>
    <a href="http://www.univs.cn/" target="_blank">中国大学生在线</a>
  </p>

  <p class="info">
    清水河校区：成都市高新区（西区）西源大道2006号 邮编：611731 电话查号台：028-83201114
    <br>
    沙河校区：成都市建设北路二段四号 邮编：610054 电话查号台：028-83201114
  </p>

  <p class="info">
    <a href="http://www.cnssuestc.org/" target="_blank">Copyright@CNSSUESTC</a>
  </p>
</div>
{{template "footer.html" .}}
</body></html>
