.item-title {
	float:left;
	width:53%;
	height:4em;
	line-height: 22px;
	text-indent: -2em;
}
form div:first-child {
	text-indent: -22px;
	margin-left: -5px;
	/*new added in 20140410*/
}
.item-progress{
	float:right;
}
.clearfix{
	clear:both;
}

progress ie {
    display:block;
    height: 100%;
    background: #0064B4;
}

.info a {
	font-size: 12px;
	vertical-align: bottom;
	line-height: 0px;
	margin-left: 90px;
}

