      a:visited
       {
        color:#DFDFDF;
        text-decoration: none;
       }
     a:link
       {
        color:#DFDFDF;
        text-decoration: none;
       }
     a:hover
       {
        color:white;
        text-decoration: none;
       }
     body:before 
         {
            content:"";
            position:fixed;
            top: -10px;
            left: 0;
            width: 100%;
            height: 10px;
            z-index: 999;
            box-shadow: 0 0 30px 1px rgba(0,0,128,0.8);
         }
     body
         {
         	margin:0 0 0 0;
         	background-color: #F0F0F0;
         }

     div#container
         {
            width:950px;
            height: 900px;
            position:absolute;
            left:50%;
            margin:0 0 0 -475px;
           
           background-image: url(/public/img/bg-top.jpg);
           background-repeat: no-repeat;
         }
      div#pic
         {
         	position: absolute;
         	top: 90px;
         	left: 100px;
         	box-shadow: 0 6px 18px 2px grey;
         	z-index:2;
         }
     div#header
         {
           width:950px;
           height: 298px;
           position:absolute;
           left:50%;
           margin:0 0 0 -425px;
        }
     div#listcontainer
         {
         	width:950px;
         	height:900px;
         	top: 298px;
         	position: absolute;
                   background-color: white;
            
         }
     img#wp
         {
         	border:7px solid white;
         }
     p.linklist
         {
         	margin-right: 95px;
         	float:right;
            display:inline; 
            color:#DFDFDF;
        	font-size:12px;
        	word-spacing:10px;
        	letter-spacing: 1px;
          margin-top: 15px;
         }


      p.linklist#botnavi
         {
          margin-left: 40px;
          margin-top: 25px;
          float:left;
          /*font-size: 14px;*/
         }
      p.linklist#botnavi a {
        color: #fff;
      }
      p.info
         {
          margin-left: 40px;
          float:left;
            display:inline; 
            color:#fff;
          font-size:12px;
          word-spacing:1px;
          line-height: 18px;
         }
     .searchinput
         {
        	
        	padding-left: 3px;
        	width: 130px;
        	float: right;
	        color: black;
        	margin-left: 4px;
        	font-size: 0.8em;
        	vertical-align: middle;
        	margin-right: 3px;
        	border-width: 0px;
	height:20px;
         }
     .tab_search
         {
	        height: 12px;
	        background-color: white;
	        float: left;
            border-radius:6px;
            position: absolute;
            right: 90px;
            top: 40px;
         }
     .searchaction
         {
	        width: 21px;
	        float: left;
	        height: 12px;
         }
     div#list
         {
           margin-left: 60px;
           margin-right: 35px;
           margin-top: 60px;
           font-size:14px;
         }

     progress 
         {
           width: 280px;
           border: none;  
           background-color:#d3d7d4;
           color: #a1a3a6; /*IE10*/
           right: 140px;
           position: absolute;
           margin-top: 5px;
         }

     progress::-moz-progress-bar { background: #a1a3a6; }
     progress::-webkit-progress-bar { background: #d3d7d4; }
     progress::-webkit-progress-value  { background: #a1a3a6; }
     
     .dot
         {
           right: 30px;
           position: absolute;
         }

     span
         {
           right: 55px;
           position: absolute;
         }

     div#footer
          {
            width: 950px;
            height:118px;
            background-image: url("/public/img/bg-bot.jpg");
            background-repeat: repeat-x;
            position: absolute;
            top: 1200px;
            left:50%;
            margin:0 0 0 -475px;
            
          } 
     button
          { 
            height: 41px;
            width:  99px;
            border-radius: 12px;
            background-image: url("/public/img/btn-bg-yellow.png");
            float: right;
            /*margin-right: 30px;*/
            /*margin-top: 25px;*/
          }
 #indicator {
	position: fixed;
	color: #fff;
	font-family: 黑体;
	width: 16px;
	margin: 298px 0 0 924px;
	padding: 10px 5px;
	background-color: #A2B92A;
	text-align: center;

}
