<!DOCTYPE html>

<html>
<head>
  <title>{{.title}}</title>
  <meta name="author-frontier" content="fceek" />
  <meta name="backend" content="42" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
  <!--[if lt IE9]> 
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {{range .moreStyles}}
  <link rel="stylesheet" type="text/css" href="/public/{{.}}">
  {{end}}
  {{range .moreScripts}}
  <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
  {{end}}
</head>
<body>